@tailwind base;
@tailwind components;
@tailwind utilities;

html{
    scroll-behavior: smooth;
}

.swiper-button-next {
    color: #fff !important;
    font-size: 50%;
    right: -20px; /* ค่าเริ่มต้น */
}

.swiper-button-prev {
    color: #fff !important;
    font-size: 50%;
}
